.project-view-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.project-view-container1 {
  width: 100%;
  height: 37px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #f15757;
}
.project-view-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
}
.project-view-textinput {
  top: 7px;
  left: 800px;
  width: var(--dl-size-size-large);
  height: 24px;
  position: absolute;
  align-self: center;
}
.project-view-container2 {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: flex-start;
  background-color: #e3e1e1;
}
.project-view-navlink {
  color: #000000;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.project-view-text01 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
}
.project-view-text02 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
}
.project-view-container3 {
  top: 100px;
  left: var(--dl-space-space-unit);
  width: 141px;
  height: 150px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.project-view-container4 {
  flex: 0 0 auto;
  width: 141px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-view-text03 {
  top: 8px;
  left: 24px;
  color: rgb(0, 0, 0);
  width: 90px;
  height: 30px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 0px;
  background-color: rgb(108, 159, 218);
}
.project-view-button {
  left: 16px;
  width: 110px;
  bottom: -87px;
  margin: auto;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-style: solid;
}
.project-view-button:hover {
  background-color: #b9b6b6;
}
.project-view-button:active {
  color: #f9f5f5;
  display: flex;
  justify-content: center;
  background-color: #f13535;
}
.project-view-button1 {
  left: 16px;
  width: 110px;
  bottom: -134px;
  margin: auto;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-style: solid;
}
.project-view-button1:hover {
  background-color: #b9b6b6;
}
.project-view-button1:active {
  color: #ffffff;
  background-color: #f13535;
}
.project-view-container5 {
  top: 267px;
  left: 16px;
  width: 141px;
  height: 150px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.project-view-container6 {
  flex: 0 0 auto;
  width: 141px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-view-text04 {
  top: 8px;
  left: 24px;
  color: rgb(0, 0, 0);
  width: 90px;
  height: 30px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 0px;
  background-color: rgb(108, 159, 218);
}
.project-view-button2 {
  left: 16px;
  width: 110px;
  bottom: -87px;
  margin: auto;
  position: absolute;
  font-size: 15px;
  text-align: center;
  transition: 0.3s;
  border-style: solid;
}
.project-view-button2:hover {
  background-color: #b9b6b6;
}
.project-view-button2:active {
  color: #f9f5f5;
  display: flex;
  justify-content: center;
  background-color: #f13535;
}
.project-view-button3 {
  left: 16px;
  width: 110px;
  bottom: -134px;
  margin: auto;
  position: absolute;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
  border-style: solid;
}
.project-view-button3:hover {
  background-color: #b9b6b6;
}
.project-view-button3:active {
  color: #ffffff;
  background-color: #f13535;
}
.project-view-container7 {
  top: 112px;
  flex: 0 0 auto;
  left: 282px;
  width: 861px;
  height: 600px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.project-view-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #585757;
}
.project-view-text05 {
  top: 6px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
}
.project-view-text06 {
  top: 6px;
  left: 180px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: 175px;
}
.project-view-text07 {
  top: 6px;
  left: 74px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
}
.project-view-text08 {
  top: 6px;
  left: 370px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: 175px;
}
.project-view-text09 {
  top: 6px;
  left: 550px;
  color: rgb(255, 255, 255);
  bottom: 0px;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: 175px;
}
.project-view-image {
  top: 87px;
  left: 242px;
  width: 532px;
  height: 423px;
  margin: auto;
  opacity: 0.4;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
.project-view-text10 {
  top: 41px;
  right: 41px;
  position: absolute;
}
.project-view-text11 {
  top: 74px;
  left: 741px;
  position: absolute;
}
.project-view-text12 {
  top: 41px;
  left: 540px;
  position: absolute;
}
.project-view-text13 {
  top: 74px;
  left: 554px;
  position: absolute;
}
.project-view-text14 {
  top: 41px;
  left: 358px;
  position: absolute;
}
.project-view-text15 {
  top: 75px;
  left: 378px;
  position: absolute;
}
.project-view-navlink1 {
  top: 40px;
  left: 87px;
  position: absolute;
  text-decoration: none;
}
.project-view-text16 {
  top: 75px;
  left: 88px;
  position: absolute;
}
.project-view-image1 {
  top: 67px;
  left: 28px;
  width: 36px;
  height: 34px;
  position: absolute;
  object-fit: cover;
}
.project-view-image2 {
  top: 32px;
  left: 26px;
  width: 36px;
  height: 34px;
  position: absolute;
  object-fit: cover;
}
